<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38884515740-uvnskla33ilclamer3l9992bm11fgdrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38884515740-uvnskla33ilclamer3l9992bm11fgdrn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>38884515740-c9h4627db9ag9js0lqf0po61j8u2pmjn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOwlSaJoVpRU1kJjMj3NEQtJ_QVzZbY34</string>
	<key>GCM_SENDER_ID</key>
	<string>38884515740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.kinalert</string>
	<key>PROJECT_ID</key>
	<string>kinalert-36cb2</string>
	<key>STORAGE_BUCKET</key>
	<string>kinalert-36cb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38884515740:ios:39b779c049c42d4f28f259</string>
</dict>
</plist>